---
layout: default
lang: de
title: Neuigkeiten
permalink: /news/
page_id: news
pagination:
  enabled: true
  sort_field: date
  sort_reverse: true
  per_page: 10
  permalink: page/:num/
  locale: de
---

<div class="page-header">
  <h1>Neuigkeiten</h1>
</div>

{% if paginator.posts.size > 0 %}
<div class="listing-items news-grid">
  {% for post in paginator.posts %}
  <a class="listing-item" href="{{ post.url | relative_url }}">
    {% if post.title_image %}
    <img src="{{ post.title_image | relative_url }}" alt="{{ post.title }}">
    {% endif %}
    <p class="date">{{ post.date | date: "%d.%m.%Y" }}</p>
    <h2>{{ post.title }}</h2>
  </a>
  {% endfor %}
</div>
{% endif %}

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; {% if site.active_lang == 'de' %}Neuere{% else %}Newer{% endif %}</a>
  {% endif %}

  {% if paginator.page_trail %}
    {% for trail in paginator.page_trail %}
      {% if page.url == trail.path %}
        <span class="current">{{ trail.num }}</span>
      {% else %}
        <a href="{{ trail.path | relative_url }}">{{ trail.num }}</a>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}">{% if site.active_lang == 'de' %}Ältere{% else %}Older{% endif %} &raquo;</a>
  {% endif %}
</div>
{% endif %}
