---
layout: default
lang: en
title: Theses
permalink: /theses/
page_id: theses-index
---

<div class="page-header">
  <h1>Theses</h1>
</div>

<div class="listing-items">
{% assign en_theses = site.theses | where: "lang", "en" | sort: "date" | reverse %}
{% assign year = "" %}
{% for thesis in en_theses %}
    {% assign thesis_year = thesis.date | date: "%Y" %}
    {% if thesis_year != year %}
        <h2 class="mt-3">{{ thesis_year }}</h2>
        {% assign year = thesis_year %}
    {% endif %}
    <div class="listing-item thesis-entry collapsible">
        <h3 class="listing-title">{{ thesis.title }} ({{ thesis.student }}, {{ thesis.date | date: "%Y" }})</h3>
        <div class="listing-content">
            {% if thesis.student %}<p class="thesis-meta">{{ thesis.student }}</p>{% endif %}
            <p>{{thesis.content}}</p>
        </div>
    </div>
{% endfor %}
</div>
