<span class="language-switcher">
  {% for lang in site.languages %}
    {% if lang == site.active_lang %}
      <strong>{{ lang | upcase }}</strong>
    {% else %}
      {% if page.permalink_lang and page.permalink_lang[lang] %}
        {% assign plink = page.permalink_lang[lang] | remove_first: "/" %}
      {% else %}
        {% assign plink = "" %}
      {% endif %}
      {% if lang == site.default_lang %}
        {% capture switch_url %}{{ site.baseurl }}/{{ plink }}{% endcapture %}
      {% else %}
        {% capture switch_url %}{{ site.baseurl }}/{{ lang }}/{{ plink }}{% endcapture %}
      {% endif %}
      <a {% static_href %}href="{{ switch_url }}"{% endstatic_href %}>{{ lang | upcase }}</a>
    {% endif %}
    {% unless forloop.last %} | {% endunless %}
  {% endfor %}
</span>
