

{% if is_active %}
<li style="position: relative; background-image: url('{{project.background}}'); background-size: cover; background-position: center; padding: 1.5em 1em;">
  <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(255,255,255,0.7); z-index: 1;"></div>
  <div style="position: relative; z-index: 2;">

  <a href="{{ project.url | relative_url }}"><img src="{{project.logo}}" alt="Icon for {{project.title}}" width="100"></a>
  <h3>{{project.title}}</h3>
  </div>
</li>
{% else %}
<a href="{{ project.url | relative_url }}"><img src="{{project.logo}}" alt="Icon for {{project.title}}" width="50"></a>
{% endif %}
